body{
    overflow-x: hidden;
}

.animation_flip{
    animation: slideInDown;
    animation-duration: 2s;
}
.animation_midnav{
    animation: zoomInDown;
    animation-duration: 2s;
}
#pimg{
    margin-left: 25%;
    width: 50%;
    height: 500px;
}
#cbtn{
    margin-left: 10px;
}
#ptxt{
    margin-top: 80px;
}
#jump{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 80px;
}
#jump:hover{
    background-color: black;
    transition: 1s;
}
#tct{
    margin-top: 80px;
}
.contain{
    width: 80%;
    margin-left: 10%;
    display: flex;

}
.box{
    width: 30% ;
    margin-right: 10%;
    background-color: rgb(225, 225, 252);
    border-radius: 10px;
    height: 400px;
}
.box:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.boximg{
    width: 100%;
    height: 200px;
   
    border-radius: 10px 10px 0px 0px;
   
}
.boxtxt{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
#baneradd{
    margin-left: 10%;
    margin-top: 80px;
    display: flex;
    width: 80%;
}
#baneradd div{
    width: 50%;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
}
#baneradd button{
    margin-left: 10%;
    margin-top: 20px;
}

#baneradd h1{
    margin-left: 10%;
    width: 90%;
    color: bisque;
    margin-top: 50px;
}
#baneradd p{
    margin-left: 10%;
    width: 90%;
    color: bisque;

}
#baneradd img{
  width: 50%;

  height: 400px;
  border-radius: 10px 0px 0px 10px;

}
#reviewcard {
    margin-top: 80px;
    text-align: center;
}
#reviewcard h1{
   
    margin-bottom: 50px;
}
#reviewcard .box {
    height: 500px;
}
#reviewcard .box p {
    height: 150px;
}
.review img {
    width: 20%;
    height: 200px;
}
.review{
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}
.review div{
    display: flex;
}
.review h1{
    margin-left: 20px;
    margin-top: 150px;
    text-decoration: underline;
}
#footer{
    margin-top: 80px;
    color: bisque;
    width: 100%;
}
#left{
    width: 49.75%;
    background-color: black;
    
}
#left h1{
    margin-left: 10%;
    width: 80%;
    padding-top: 50px;
}
#left p{
    margin-left: 10%;
    width: 80%;
}
#left div{
    margin-left: 10%;
    width: 80%;
}
#left div button{
   width: 31.33%;
   margin-right: 2%;
   border-radius: 5px;
   margin-bottom: 50px;
   border: 1px solid black;
   height: 50px;
   color: white;
}


#right{
    background-color: black;
    width: 49.75%;
    margin-left: 0.5%;
}
#right h1{
    margin-left: 10%;
    width: 80%;
    padding-top: 50px;
}
#right input{
    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
}
.flex{
    display: flex;
}
#temp-control h1{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10%;
}
#temp-control #controlbtn{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
#temp-control #controlbtn h6{
    width: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}
#tfu:hover{
    text-decoration: underline;
}
#tg:hover{
    text-decoration: underline;
}


#tg{
    text-align: right;
}
#tem-for-u .box{
    height: 290px;
}
#gallery .box{
    height: 290px;
}
#gallery{
    margin-top: 50px;
}
#tem-for-u .box:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

#gallery .box:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
#tool{
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    
}

#tool-left{
    width: 45%;
}
#tool-right{
    width: 45%;
    margin-left: 10%;
}
#tool h1{
    margin-bottom: 50px;
   display: none;
}
#tool input{
    width: 85%;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.fresher-link{
    font-size: 12px;
    margin-left: 10px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#ex-grp-2{
    display: none;
}
#ex-grp-3{
    display: none;
}
#edu-grp-2{
    display: none;
}
#edu-grp-3{
    display: none;
}
#edu-grp-4{
    display: none;
}
#edu-grp-5{
    display: none;
}
#tool-contain{
    display: flex;
}

@media  screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .tem-span{
        font-size: 6pt;
    }
    #pimg{
        height: 200px;
        margin-top: 50px;
    }
    #cbtn{
        margin-left: 0;
        
    }
    #jump{
        width: 80%;
        margin-left: 10%;
    }
    #tct{
        width: 95%;
        margin-left: 2.5%;
    }
    #reviewcard .box{
        height: 600px;
        
    }
    .box{
        width: 80% ;
        margin-left: 10%;
        
        height: 370px;
        margin-bottom: 50px;
    }
    #reviewcard .boximg{
        height: 300px;
    }
    .contain{
        display: block;
        margin-left: 10%;
    }
    #baneradd{
        display: block;
    }
    #baneradd img{
        width: 80%;
        margin-left: 10%;
        height: 200px;
        border-radius: 10px 10px 0px 00px;
      
      }
    #baneradd div{
        width: 80%;
        margin-left: 10%;
        background-color: black;
        border-radius: 0px 0px 10px 10px;
    }
    #baneradd h1{
        margin-top: 0;
        padding-top: 50px;
        text-align: center;
        width: 80%;
    }
    #baneradd p{
        
        text-align: center;
        width: 80%;
    }
    #baneradd button {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
    #footer div{
        display: block;
    }
    #left{
        width: 100%;
        margin: 0;
    }
  
    #right{
        width: 100%;
        margin-top:1px;
        margin-left: 0;
    }
    .review div{
        display: block;

    }
    .review img{
        width: 100%;
        height: 290px;
    }
    .review h1{
        margin-left: 0;
        margin-top: 20px;
    }
    #tem-for-u .contain{
        display: flex;
        margin-left: 0;
        margin-right: 0;
        width: 80%;
        margin-left: 10%;
    }
    #tem-for-u .box{
        width: 30% ;
       margin-left: 0;
        background-color: rgb(225, 225, 252);
        border-radius: 10px;
        height: 170px;
    }
    #tem-for-u .boximg{
        height: 95px;
    }
    #tem-for-u .boxtxt{
        font-size: 12px;
        margin-top: 0px;
    }
    


    #gallery .contain{
        display: flex;
        margin-left: 0;
        margin-right: 0;
        width: 80%;
        margin-left: 10%;
    }
    #gallery .box{
        width: 30% ;
       margin-left: 0;
        background-color: rgb(225, 225, 252);
        border-radius: 10px;
        height: 170px;
    }
    #gallery .boximg{
        height: 95px;
    }
    #gallery .boxtxt{
        font-size: 12px;
        margin-top: 0px;
    }
    #tool-left{
        width: 100%;
    }
    #tool-right{
        width: 100%;
        margin-left: 0%;
    }
    #tool-contain{
        display: block;
    }
}
.animation_foot{
    animation:shakeX;
    animation-duration: 5s;
   
}
